<!--
*
* INSPINIA - Responsive Admin Theme
* Version 2.7.1
*
-->

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element">
                    <img alt="image" class="img-circle" src="img/profile_small.jpg" />
                    <a class="dropdown-toggle" href="">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">{{main.userName}}</strong>
                            </span>
                            <span class="text-muted block text-xs">{{main.userRole}} <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a ui-sref="profile">Meu Perfil</a></li>
                        <li><a ui-sref="contacts">Contatos</a></li>
                        <li><a ui-sref="mailbox.inbox">Mensagens</a></li>
                        <li class="divider"></li>
                        <li><a href="" ng-click="main.logout()">Sair</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>

            </li>
            <li ng-class="{active: $state.includes('dashboards')}">
                <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">{{ 'DASHBOARDS' | translate }}</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('dashboards')}">
                    <li ui-sref-active="active"><a ui-sref="dashboards.dashboard_1">Resumo Executivo</a></li>
                    <li ui-sref-active="active"><a ui-sref="dashboards.dashboard_2">Geral Local</a></li>
                    <li ui-sref-active="active"><a ui-sref="dashboards.dashboard_3">Atividades Recentes</a></li>
                    <li ui-sref-active="active"><a ui-sref="dashboards.dashboard_4_1">Mapa Regional</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('financeiro')}"
                ng-if="main.canAccessModule('Financeiro')">
                <a href="" data-mobile-sref="financeiro.dashboard"><i class="fa fa-money"></i> <span class="nav-label">{{ 'FINANCEIRO' | translate
                        }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('financeiro')}">
                    <li ui-sref-active="active"><a ui-sref="financeiro.dashboard">Consolidado Regional</a></li>
                    <li ui-sref-active="active"><a ui-sref="financeiro.fluxo">Fluxo de Caixa</a></li>
                    <li ui-sref-active="active"><a ui-sref="financeiro.extratos">Extratos Comuns</a></li>
                    <li ui-sref-active="active"><a ui-sref="financeiro.ajustes">Ajustes / Lan&ccedil;amentos</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('secretaria')}"
                ng-if="main.canAccessModule('Secretaria')">
                <a href="" data-mobile-sref="secretaria.dashboard"><i class="fa fa-building"></i> <span class="nav-label">{{ 'SECRETARIA' | translate
                        }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('secretaria')}">
                    <li ui-sref-active="active"><a ui-sref="secretaria.dashboard">Estat&iacute;sticas Gerais</a></li>
                    <li ui-sref-active="active"><a ui-sref="secretaria.cartoes">Cart&otilde;es de Minist&eacute;rio</a></li>
                    <li ui-sref-active="active"><a ui-sref="secretaria.atas">Livro de Atas Online</a></li>
                    <li ui-sref-active="active"><a ui-sref="secretaria.comuns">Gest&atilde;o de Comuns</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('irmandade')}"
                ng-if="main.canAccessModule('Irmandade')">
                <a href="" data-mobile-sref="irmandade.list"><i class="fa fa-users"></i> <span class="nav-label">{{ 'IRMANDADE' | translate
                        }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('irmandade')}">
                    <li ui-sref-active="active"><a ui-sref="irmandade.list">Cadastro Geral</a></li>
                    <li ui-sref-active="active"><a ui-sref="irmandade.ministerio">Fichas Ministeriais</a></li>
                    <li ui-sref-active="active"><a ui-sref="irmandade.nascimentos">Nascimentos / Apresentados</a></li>
                    <li ui-sref-active="active"><a ui-sref="irmandade.obitos">Registro de &Oacute;bitos</a></li>
                </ul>
            </li>

            <li ui-sref-active="active" ng-if="main.canAccessModule('Musicalizacao')">
                <a ui-sref="musicalizacao.dashboard">
                    <i class="fa fa-music"></i> 
                    <span class="nav-label">Musicalização</span>
                    <span class="label label-primary pull-right">NEW</span>
                </a>
            </li>

            <li ui-sref-active="active" ng-if="main.canAccessModule('Ebi')">
                <a ui-sref="ebi.dashboard">
                    <i class="fa-solid fa-child"></i> 
                    <span class="nav-label">E.B.I</span>
                </a>
            </li>

            <li ng-class="{active: $state.includes('visitas')}"
                ng-if="main.canAccessModule('Visitas')">
                <a href="" data-mobile-sref="visitas.dashboard"><i class="fa fa-walking"></i> <span class="nav-label">{{ 'VISITAS' | translate
                        }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('visitas')}">
                    <li ui-sref-active="active"><a ui-sref="visitas.dashboard">Gest&atilde;o de Visitas</a></li>
                    <li ui-sref-active="active"><a ui-sref="visitas.agenda">Agenda Ministerial</a></li>
                    <li ui-sref-active="active"><a ui-sref="visitas.relatorios">Relat&oacute;rios de Campo</a></li>
                    <li ui-sref-active="active"><a ui-sref="visitas.mapa">Geolocaliza&ccedil;&atilde;o</a></li>
                </ul>
            </li>

            <li ui-sref-active="active" ng-if="main.canAccessModule('RJM')">
                <a ui-sref="rjm.dashboard">
                    <i class="fa fa-book"></i> 
                    <span class="nav-label">Reunião de Jovens</span>
                </a>
            </li>

            <li ng-class="{active: $state.includes('darpe')}"
                ng-if="main.canAccessModule('Darpe')">
                <a href="" data-mobile-sref="darpe.dashboard"><i class="fa fa-medkit"></i> <span class="nav-label">{{ 'D.A.R.P.E' | translate }}
                    </span><span class="label label-info pull-right">NOVO</span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('darpe')}">
                    <li ui-sref-active="active"><a ui-sref="darpe.dashboard">Dashboard</a></li>
                    <li ui-sref-active="active"><a ui-sref="darpe.calendario">Calendário</a></li>
                    <li ui-sref-active="active"><a ui-sref="darpe.musicos">Músicos</a></li>
                    <li ui-sref-active="active"><a ui-sref="darpe.clinicas">Clínicas</a></li>
                    <li ui-sref-active="active"><a ui-sref="darpe.ministerio">Ministério</a></li>
                    <li ui-sref-active="active"><a ui-sref="darpe.atendimentos">Atendimentos</a></li>
                    <li ui-sref-active="active"><a ui-sref="darpe.membros">Membros</a></li>
                    <li ui-sref-active="active"><a ui-sref="darpe.batismos">Batismos</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('depac')}"
                ng-if="main.canAccessModule('Depac')">
                <a href="" data-mobile-sref="depac.musicos"><i class="fa-solid fa-hands"></i> <span class="nav-label">{{ 'D.E.P.A.C' | translate }}
                    </span><span class="label label-info pull-right">NOVO</span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('depac')}">
                    <li ui-sref-active="active"><a ui-sref="depac.musicos">Músicos</a></li>
                    <li ui-sref-active="active"><a ui-sref="depac.clinicas">Clínicas</a></li>
                    <li ui-sref-active="active"><a ui-sref="depac.ministerio">Ministério</a></li>
                    <li ui-sref-active="active"><a ui-sref="depac.atendimentos">Atendimentos</a></li>
                    <li ui-sref-active="active"><a ui-sref="depac.membros">Membros</a></li>
                    <li ui-sref-active="active"><a ui-sref="depac.batismos">Batismos</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('forms')}"
                ng-if="main.canAccessModule('Gem')">
                <a href="" data-mobile-sref="forms.basic_form"><i class="fa fa-edit"></i> <span class="nav-label">{{ 'G.E.M' | translate }}</span><span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('forms')}">
                    <li ui-sref-active="active"><a ui-sref="forms.basic_form">Alunos</a></li>
                    <li ui-sref-active="active"><a ui-sref="forms.advanced_plugins">Histórico de Aulas</a></li>
                    <li ui-sref-active="active"><a ui-sref="forms.wizard.step_one">Planos de Aula</a></li>
                    <li ui-sref-active="active"><a ui-sref="forms.file_upload">Turmas</a></li>
                </ul>
            </li>            

            <li ui-sref-active="active" ng-if="main.canAccessGlobalMenu()">
                <a href=""><i class="fa fa-cogs"></i> <span class="nav-label">{{ 'MANUTENCAO' | translate
                        }}</span> </a>
            </li>

            <li ui-sref-active="active" ng-if="main.canAccessGlobalMenu()">
                <a href=""><i class="fa fa-bucket"></i> <span class="nav-label">{{ 'CNS' | translate }}</span>
                </a>
            </li>

            <li ui-sref-active="active" ng-if="main.canAccessModule('Musica')">
                <a href="" data-mobile-sref="music.static_table"><i class="fa fa-music"></i> <span class="nav-label">{{ 'MUSICA' | translate
                        }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('music')}">
                    <li ui-sref-active="active"><a ui-sref="music.static_table">Ensaios Regionais</a></li>
                    <li ui-sref-active="active"><a ui-sref="music.data_tables">Exames / Testes</a></li>
                    <li ui-sref-active="active"><a ui-sref="music.foo_table">Músicos</a></li>
                    <li ui-sref-active="active"><a ui-sref="music.nggrid">Organistas</a></li>
                    <li ui-sref-active="active"><a ui-sref="music.nggrid">Candidatos</a></li>
                </ul>
            </li>         
           

        </ul>

    </div>
</nav>
